[package]
name = "butterpaper-render"
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
pdfium-render = { version = "0.8", features = ["sync"] }
